//Colors
// ===========================================================================

$main-color: #130f40;
$main-color-2: #6C63FF;
$secondary-color: #CF482C;
$third-color: #4b4b4b;
$fifth-color: #8553bc;
$white-color: #fff;
$black-color: #000;

// Fonts
$h2-font: 60px;