#home {
    padding: 100px 0px 100px 0px;

    @include xs {padding: 95px 0px 10px 0px;}
    @include sm {padding: 95px 0px 10px 0px;}
    @include md {padding: 95px 0px 10px 0px;}
    @include lg {padding: 87px 0px 18px 0px;}
    @include xl {padding: 87px 0px 18px 0px;}

    .container-fluid {
        
        img {
            width: 90%;

            @include xs {width: 100%;}
            @include sm {width: 100%;}
            @include md {width: 100%;}
            @include lg {width: 90%;}
            @include xl {width: 65%;}
        }

        .caption {
            text-align: justify;
            padding-top: 24%;

            @include xs {
                text-align: center;
                padding-top: 0%;
            }

            @include sm {
                text-align: center;
                padding-top: 0%;
            }

            @include md {
                text-align: center;
                padding-top: 0%;
            }

            @include lg {
                text-align: center;
                padding-top: 0%;
            }

            @include xl {
                text-align: center;
                padding-top: 0%;
            }

            h1 {
                font-family: 'Roboto Slab', sans-serif;
                font-size: 44px;
                font-weight: 700;
                text-transform: uppercase;
                color: $main-color-2;
                text-shadow: 0px 3px 0px $black-color;

                @include xs {
                    font-size: 15px;
                    text-shadow: 0px 1px 0px $black-color;
                }

                @include sm {
                    font-size: 15px;
                    text-shadow: 0px 1px 0px $black-color;
                }

                @include md {
                    font-size: 29px;
                    text-shadow: 0px 2px 0px $black-color;
                }

                @include lg {font-size: 40px;}
                @include xl {font-size: 50px;}
                
                @include exl {
                    font-size: 32px;
                    text-shadow: 0px 2px 0px $black-color;
                }
            }

            h2 {
                font-family: 'Roboto Slab', sans-serif;
                font-size: 40px;
                text-transform: uppercase;
                color: $main-color-2;
                text-shadow: 0px 3px 0px $black-color;

                @include xs {
                    font-size: 15px;
                    text-shadow: 0px 1px 0px $black-color;
                }

                @include sm {
                    font-size: 15px;
                    text-shadow: 0px 1px 0px $black-color;
                }

                @include md {
                    font-size: 25px;
                    text-shadow: 0px 2px 0px $black-color;
                }

                @include lg {font-size: 35px;}
                @include xl {font-size: 40px;}

                @include exl {
                    font-size: 30px;
                    text-shadow: 0px 2px 0px $black-color;
                }
            }

            a {
                margin: 160px 0px 0px 0px;
                font-family: 'Open Sans', sans-serif;
                font-size: 25px;
                font-weight: 700;
                text-transform: uppercase;
                color: $main-color-2;
                text-decoration: underline;
                text-shadow: 0px 1px 0px $black-color;

                @include xs {
                    margin: 40px 0px 0px 0px;
                    font-size: 15px;
                }

                @include sm {
                    margin: 40px 0px 0px 0px;
                    font-size: 15px;
                }

                @include md {margin: 40px 0px 0px 0px;}

                @include lg {
                    margin: 40px 0px 0px 0px;
                    font-size: 24px;
                }

                @include xl {margin: 40px 0px 0px 0px;}

                &:hover {
                    background: linear-gradient(to top right, $main-color, $main-color-2);
                    color: $white-color;
                    text-decoration: none;
                    cursor: pointer;
                }

                .svg-inline--fa {
                    margin-left: 15px;
                    font-size: 30px;
                    color: $white-color;

                    @include xs {font-size: 18px;}
                    @include sm {font-size: 18px;}
                    @include md {font-size: 25px;}
                }
            }
        }
    }
}