#resources {
    background: linear-gradient(to top right, $main-color, $main-color-2);
    padding: 100px 0px 100px 0px;

    @include xs {padding: 40px 0px 40px 0px;}
    @include sm {padding: 40px 0px 40px 0px;}
    @include md {padding: 40px 0px 40px 0px;}

    .container {
        
        .paragraph {
            padding-bottom: 80px;

            @include xs {padding-bottom: 30px;}
            @include sm {padding-bottom: 30px;}
            @include md {padding-bottom: 30px;}

            h2 {
                font-size: $h2-font;
                font-weight: 700;
                text-transform: uppercase;
                color: $white-color;
                text-shadow: 0px 5px 0px $black-color;
                transition: all .8s ease-in-out;

                @include xs {
                    font-size: 34px;
                    text-shadow: 0px 3px 0px $black-color;
                }

                @include sm {
                    font-size: 34px;
                    text-shadow: 0px 3px 0px $black-color;
                }

                @include md {
                    font-size: 60px;
                    text-shadow: 0px 3px 0px $black-color;
                }

                &:hover,
                &:hover ~ .heading-underline {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }

            .heading-underline {
                width: 350px;
                height: 9px;
                background-color: $white-color;
                box-shadow: 0px 5px 0px $black-color;
                margin: 0 auto;
                transition: all .8s ease-in-out;

                @include xs {
                    width: 193px;
                    height: 5px;
                    box-shadow: 0px 3px 0px $black-color;
                }

                @include sm {
                    width: 193px;
                    height: 5px;
                    box-shadow: 0px 3px 0px $black-color;
                }

                @include md {
                    width: 337px;
                    height: 5px;
                    box-shadow: 0px 3px 0px $black-color;
                }
            }
        }

        .box {
            position: relative;
            padding: 0px;
            height: 500px;
            transition: .5s;
            cursor: pointer;

            @include xs {height: 250px;}
            @include sm {height: 250px;}
            @include md {height: 250px;}
            @include lg {height: 250px;}

            &:nth-child(odd) {
                .thumb {
                    bottom: 0;
                    left: 0;
                }
            }

            &:nth-child(even) {
                .details {
                    bottom: 0;
                    left: 0;
                }
            }

            &:nth-child(1) {
                .details {background: #8553bc;}
            }

            &:nth-child(2) {
                .details {background: #fe8f01;}
            }

            &:nth-child(3) {
                .details {background: #79d400;}
            }

            &:nth-child(4) {
                .details {background: #ff3b34;}
            }
            &:hover {
                transform: scale(1.1);
                z-index: 1;
                box-shadow: 0 5px 20px rgba($black-color, 1);

                .details {
                    .content {
                        top: calc(50%);

                        a {transform: scale(1);}
                    }
                }
            }

            .thumb {
                position: absolute;
                width: 100%;
                height: 250px;
                overflow: hidden;

                img {
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .details {
                position: absolute;
                width: 100%;
                height: 250px;
                overflow: hidden;
                background: #262626;

                .content {
                    position: absolute;
                    top: calc(50% + 16px);
                    transform: translateY(-50%);
                    width: 100%;
                    padding: 20px;
                    text-align: center;
                    transition: 0.5s;

                    .svg-inline--fa {
                        font-size: 80px;
                        color: $white-color;
                    }

                    h3 {
                        margin: 0px;
                        padding: 10px 0px;
                        text-transform: uppercase;
                        color: $white-color;
                    }

                    a {
                        display: inline-block;
                        padding: 5px 20px;
                        color: $white-color;
                        border: 2px solid $white-color;
                        text-decoration: none;
                        transition: 0.5s;
                        border-radius: 20px;
                        transform: scale(0);

                        &:hover {
                            background: $white-color;
                            color: #262626;
                        }
                    }
                }
            }
        }
    }
}